.leftBar {
  flex: 2;
  position: sticky;
  height: calc(100vh - 70.8px);
  top: 70px;
  overflow: scroll;
  scrollbar-width: none;
  .container {
    padding: 20px 20px;
    hr {
      margin: 20px 0;
      background-color: black;
      border: none;
      height: 0.5px;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .user {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid black;
        padding-bottom: 15px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
        }
      }
      .item {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          width: 30px;
        }
        span {
        }
      }
    }
  }
}
